In [19]:
import pandas as pd

In [20]:
nfl_df = pd.read_csv('/home/ec2-user/SageMaker/GlenPiGeeks/DataScience/Data/NFL_2015-2016_Predictions&Analysis-QBPrediction.csv', header = 1)

In [22]:
print(nfl_df.head(10))

   Unnamed: 0  Unnamed: 1               Name                  Team  \
0         NaN           1      Aaron Rodgers     Green Bay Packers
1         NaN           2     Peyton Manning        Denver Broncos
2         NaN           3          Tony Romo        Dallas Cowboys
3         NaN           4     Russell Wilson      Seattle Seahawks
4         NaN           5        Andrew Luck    Indianapolis Colts
5         NaN           6  Ben Rothlisberger   Pittsburgh Steelers
6         NaN           7          Tom Brady  New England Patriots
7         NaN           8         Joe Flacco      Baltimore Ravens
8         NaN           9         Drew Brees    New Orleans Saints
9         NaN          10         Cam Newton     Carolina Panthers

   Unnamed: 4 Passing Yards NFL Rank  Unnamed: 7     Touchdowns NFL Rank.1  \
0         NaN      4381 yds      7th         NaN  38 touchdowns        2nd
1         NaN      4727 yds      4th         NaN  37 touchdowns        3rd
2         NaN      3705 yds     14th         NaN  34 touchdowns        4th
3         NaN      3475 yds     15th         NaN  20 touchdowns       16th
4         NaN      4761 yds      3rd         NaN  40 touchdowns        1st
5         NaN      4952 yds    T-1st         NaN  32 touchdowns        6th
6         NaN      4109 yds     10th         NaN  33 touchdowns        5th
7         NaN      3986 yds     12th         NaN  27 touchdowns     T-12th
8         NaN      4952 yds    T-1st         NaN  30 touchdowns      T-8th
9         NaN      3127 yds     21st         NaN  18 touchdowns     T-19th

   Unnamed: 10     Interceptions NFL Rank.2  Unnamed: 13      Sacks NFL Rank.3
0          NaN   5 interceptions        2nd          NaN   28 sacks     T-12th
1          NaN  15 interceptions       26th          NaN   17 sacks        3rd
2          NaN   9 interceptions      T-8th          NaN  29  sacks     T-15th
3          NaN   7 interceptions      T-5th          NaN   40 sacks       27th
4          NaN  16 interceptions       27th          NaN   27 sacks       11th
5          NaN   9 interceptions      T-8th          NaN   33 sacks     T-19th
6          NaN   9 interceptions      T-8th          NaN   21 sacks      T-6th
7          NaN  12 interceptions     T-15th          NaN   19 sacks        5th
8          NaN  17 interceptions     T-28th          NaN   29 sacks     T-15th
9          NaN  12 interceptions     T-15th          NaN   38 sacks     T-24th